.entry {
  margin-left: auto;
  margin-right: auto;
  padding: 12.5px;
  width: 500px;
}

.title {
  font-family: inherit;
  font-weight: bold;
  color: #333;
  line-height: 1.4;
  word-break: break-word;
  font-size: 22px;
  margin: 10px 0;
}

.subtitle {
  margin-bottom: 10px;
  display: flex;
  font-size: 14.4px;
}

.content {
  padding: 35px 0 0px 0;
  font-size: 16px;
  p {
    line-height: 24px;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .icon {
    margin: 6px 5px 5px 5px;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:first-of-type {
    .icon:last-of-type {
      margin-left: 20px;
    }
  }

  &:last-of-type {
    .icon:first-of-type {
      transform: translateY(1px);
    }

    .icon:last-of-type {
      margin-top: 0;
      transform: translateY(5px);
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.info {
  padding: 0 10px 4px 4px;
  transform: translateY(-1px);

  a {
    padding: 2px;
    line-height: 14px;
    display: block;
    color: #53a245;
  }

  span {
    padding: 2px 2px;
    line-height: 14px;
    display: block;
    color: #888;
    font-size: 12px;
    transform: translate(3.5px, 2px);
  }
}


.download {
  padding-left: 12.5px;
  padding-right: 12.5px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
  padding: 4px 0;
  border: 1px solid #b0bec5;
  text-align: center;
  margin-top: 20px;
cursor: pointer;
  &:hover {
    background-color: #f6f7f7;
    color: #81C14B;
  }

  a {
    display: none;
  }
}
