.entry {
  max-width: 475px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: inherit;
  font-weight: bold;
  color: #333;
  line-height: 1.4;
  word-break: break-word;
  font-size: 22px;
  margin: 10px 0;
}

.subtitle {
  margin-bottom: 10px;
  display: flex;
  font-size: 14.4px;
}

.content {

  padding: 35px 0 0px 0;
  font-size: 16px;
  p {
    line-height: 24px;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    margin: 6px 5px 5px 5px;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:first-of-type {
    svg:last-of-type {
      margin-left: 20px;
    }
  }

  &:last-of-type {

    svg:first-of-type {
      transform: translateY(1px);
    }

    svg:last-of-type{
      margin-top: 0;
      transform: translateY(5px);
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
}

.info{
  padding: 4px 10px 4px 4px;

  a {
    padding: 2px;
    line-height: 14px;
    display: block;
    color: #53a245;
  }

  span {
    padding: 2px 2px;
    line-height: 14px;
    display: block;
    color: #888;
    font-size: 12px;
    transform: translate(3.5px,2px);
  }
}

.profile {
  img {
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 2px;
    margin-bottom: 2px;

  }
}
